[submodule "assets"]
	path = assets
	url = https://github.com/trillek-team/trillek-assets
[submodule "cryptopp"]
	path = crypto++
	url = https://github.com/catageek/cryptopp
	ignore = dirty
[submodule "raknet"]
	path = raknet
	url = https://github.com/OculusVR/RakNet.git
	ignore = dirty
