build/
lib/
bin/
raknet/
.gitattributes

## Vim
*~
*.swp

## eclipse
.cproject
.project
.settings

#################################
## Code::Blocks
#################################
*.bmarks
*.cbp
*.layout
*_build_log.html

################################
# CMake
################################
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
compile_commands.json
cscope.out
*.cscope_file_list
*.depend
# We don't want to see Makefiles modifications
Makefile

################################
#Xcode
################################

trillek-client-core.build
trillek-client-core.xcodeproj

###############################
# NetBean
###############################
nbproject/
